main {
    position: relative;
    color: var(--bg-search);
    --bg: #00000008;
    bottom: -2px;
    width: var(--width, 140px);
}
box {
    position: absolute;
    /* border-radius: 8px; */
    cursor: pointer;
    line-height: 22px;
    background: var(--bg);
    height: 36px;
    width: 100%;
    transition: var(--duration);
}
box:hover {
    box-shadow: 0 0 15px #7f8fa655;
}
value {
    padding: 8px;
    width: 100%;
    height: 36px;
    display: block;
    font-size: 1.15rem;
    opacity: 0;
    transition: var(--duration);
    pointer-events: none;
    transform: translateY(10px);
    color: var(--text);
}
value:not(:empty) {
    opacity: 1;
    transform: none;
}
placeholder {
    position: absolute;
    top: 8px;
    left: 6px;
    transition: 0.4s;
    pointer-events: none;
    color: #718093B9;
    font-weight: 500;
}
value:not(:empty) + placeholder {
    /* left: 105px;
    top: 9px; */
    font-size: 0.9rem;
    font-weight: 400;
    background: var(--bg);
    padding: 3px 6px;
    left: 0;
    top: -22px;
}
.fullscreen {
    background-color: #0002;  /* Testing */
    display: none;
}
picker {
    position: absolute;
    left: 0;
    top: 32px;
    background-color: #3f4447;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 338px;
    padding: 7px 0;
    color: white;
    z-index: 2;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 20%) 0px 3px 6px, rgb(15 15 15 / 40%) 0px 9px 24px;
    animation: fade-in var(--duration-thin);
}
main:not(.show) picker {
    display: none;
}
main.show > .fullscreen {
    display: block;
}
picker > div {
    background-color: #0005;
}
input {
    background-color: rgba(15, 15, 15, 0.3);
    color: white;
    border-radius: 3px;
    margin: 8px 14px;
    padding: 4px 8px;
}
input.wrong {
    border-color: #c23616;
}
#close {
    position: absolute;
    right: 15px;
    top: 18px;
    color: #fff4;
    padding: 5px;
    cursor: pointer;
    --width: 20px;
}
month {
    padding-left: 8px;
}
operator {
    display: flex;
    margin: 8px 22px;
    font-size: 1.2rem;
}
prev, next {
    cursor: pointer;
    border-radius: 3px;
    color: rgba(202, 204, 206, 0.6);
    padding: 2px;
    --width: 18px;
}
prev:hover, next:hover {
    background-color: #51565a;
}

calendar {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    color: #8B9898cc;
}
day {
    padding-bottom: 5px;
}
calendar > span {
    font-size: 14px;
    line-height: 22px;
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
}
calendar > [current] {
    color: #FFFFFFE6;
}
calendar > span:hover {
    background: rgba(46, 170, 220, 0.4);
    color: white;
    border-radius: 3px;
}
calendar > span.selected {
    background: rgb(46, 170, 220);
    color: white;
}
.today {
    position: relative;
    color: white;
}
.today:not(:hover)::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(235, 87, 87);
    border-radius: 100%;
    left: 1px;
    top: 0;
    z-index: -1;
}