<main>
    <box></box>  
    <value></value>
    <placeholder></placeholder>
    <div class="fullscreen"></div>
    <picker>
        <input />
        <svg-icon icon="close-circle" id="close"></svg-icon>
        <operator>
            <month></month>
            <gap></gap>
            <prev>
                <svg-icon icon="chevron-back"></svg-icon>
            </prev>
            <next>
                <svg-icon icon="chevron-forward"></svg-icon>
            </next>
        </operator>
        <calendar>            
        </calendar>
    </picker>
</main>
