main {
    display: flex;
    color: var(--font-color);
    --delay: 0.3s;
}
main > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 15px;
}
main > div:not(:last-child) {
    border-right: solid 1px var(--border-color);
}
main > div:last-child {
    padding-right: 0;
}
.stat {
    display: flex;
    align-items: flex-end;
}
.stat canvas {
    width: 32px;
    height: 15px;
    /* background: #fff1; */
}
.stat > span {
    font-size: 0.9rem;
    padding-right: 4px;
    margin-bottom: -2px;
    opacity: 0.55;
}
h5 {
    font-size: 1.5rem;
    /* font-weight: bold; */
    padding-top: 7px;
    opacity: 0.7;
}
