# file extension
*.dev
*.tmp
*.swp
*.swo
*.org
*.old

* node.js
/node_modules

* porting ignoring
/porting

* semantic hierarchy 
/run
/tmp

# security
/server/secret

# generating entity
/server/config.json
