# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    image: postgis/postgis:13-3.1
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: wiredcraft
