version: '3.1'
services:
  mongodb_container:
    image: mongo:latest
    container_name: 'mongodb'
    environment:
      MONGO_INITDB_DATABASE: apidb
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: pass
    ports:
      - 27017:27017
    volumes:
      - mongodb_data_container:/data/db

volumes:
  mongodb_data_container: