asgiref==3.3.1
astroid==2.5.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.7
django-environ==0.4.5
django-oauth-toolkit==1.4.0
djangorestframework==3.12.2
idna==2.10
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
oauthlib==3.1.0
pylint==2.7.2
pylint-django==2.4.2
pylint-plugin-utils==0.6
pytz==2021.1
requests==2.25.1
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.3
wrapt==1.12.1
