<mask>
    <box>
        <div id="search">
            <svg-icon icon="search-outline"></svg-icon>
            <input placeholder="搜索关键字"/>
        </div>
        <div id="data">
            <list>
                <tip>最近访问客房</tip>
                <item>
                    <img src="/avatar/room/1/1" class="cover" />
                    <value>高等数学</value>
                    <span>— 杨老师</span>
                </item>
                <item class="">
                    <img src="/avatar/room/1/2" class="cover" />
                    <value>英语</value>
                    <span>— 王老师</span>
                </item>
                <item>
                    <img src="/avatar/room/1/3" class="cover" />
                    <value>高三一对一</value>
                    <span>— 刘红</span>
                </item>
            </list>
            <list>
                <tip>最近访问员工</tip>
                <item>
                    <img src="/avatar/admin/1/1" class="avatar" />
                    <value>杨峰</value>
                    <span>— 老师</span>
                </item>
                <item>
                    <img src="/avatar/admin/1/11" class="avatar" />
                    <value>欧阳</value>
                    <span>— 老师</span>
                </item>
                <item>
                    <img src="/avatar/admin/1/male" class="avatar" />
                    <value>李桂才</value>
                    <span>— 营销</span>
                </item>
            </list>
            <list>
                <tip>最近访问学生</tip>
                <item>
                    <img src="/avatar/customer/1/1" class="avatar" />
                    <value>小明</value>
                </item>
                <item>
                    <img src="/avatar/customer/1/female" class="avatar" />
                    <value>小肖</value>
                </item>
            </list>
            <list>
                <tip>最近搜索</tip>
                <item>
                    <svg-icon icon="search-outline"></svg-icon>
                    <value>数学</value>
                </item>
                <item>
                    <svg-icon icon="search-outline"></svg-icon>
                    <value>微积分</value>
                </item>
            </list>
                        
        </div>

        <footer>
            <span>↑↓ &nbsp;选择</span>
            <span>↵ &nbsp;打开</span>
        </footer>
    </box>
</mask>
