main {
    position: relative;
}
svg-icon {
    --width: 24px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px;
    color: var(--light-gray);
    opacity: 0.6;
}
input {
    border-color: var(--light-border-color);
    width: 100%;
    padding-right: 50px;
    background: var(--background, white);
}