<mask>
    <dialog>
        <h2>选择学生</h2>
        <main>
            <div>
                <search-input placeholder="搜索名字/手机号码"></search-input>
                <box id="select">

                </box>
            </div>
            <svg-icon icon="shuffle-outline"></svg-icon>
            <div>                
                <number></number>
                <box id="active">
                    <div id="picking">
                        
                    </div>
                    <space></space>
                    <div id="already">

                    </div>
                </box>
            </div>
        </main>
        <div class="opera">
            <button class="ok">提交</button>
        </div>
        <close-button></close-button>
    </dialog>
</mask>
