<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>delete user data</title>
</head>

<body>
	<div class="delete user data">
		<form action="/dodel" method="delete">
			<div class="form-group">
				<label for="input_name">user id:</label>
				<input type="text" class="form-control" required minlength="1" maxlength="30" name="userid" placeholder="input user id">
			</div>
			<button type="submit" class="btn btn-default"> delete user </button>
		</form>
	</div>

</body>
</html>