.pop-box {
    --placeholder-waiting: #777;
    --border-color: gray;
    --font-size: 20px;
    color: white;
    padding: 0 20px 20px;
    border-radius: 5px;
    background: #21202e;
    max-height: 90vh;
    min-width: 600px;
    overflow: scroll;
    animation: fade-in var(--duration) both;
    box-shadow: 0 0 100px #0008;
}
.pop-box.one-line {
    min-width: 300px;
}
.pop-box > *:not(textarea, input) {    
    --text: white;
}
.pop-box textarea, .pop-box input {
    background: #fff1;
    width: 100%;
}
.pop-box textarea[readonly] {
    background: #fff2;
    color: white;
}
.fade-out .pop-box:not(.quiet) {
    /* animation: fly-away var(--duration) both; */
}
.pop-box > :is(h2, h3) {
    padding: 30px 0 20px;
    /* min-width: 500px; */
    font-size: 1.3rem;
    line-height: 2.5rem;
}
.pop-box > h3 {
    padding: 20px 0 10px;
}
.pop-box > .operation {
    text-align: right;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
}

button.form {
    font-size: 1.1rem;
    --height: 34px;
    /* border-radius: calc(var(--height) / 2); */
    transition: var(--duration-thin);
}
button.form:hover {
    box-shadow: 0 0 15px var(--bg);
}
button.alert {
    --bg: var(--prompt-submit);
    color: #fff;
}
button.ok {
    --bg: var(--prompt-submit);
    margin-right: 0;
    color: white;
    font-weight: 500;
}
button.cancel {
    --bg: var(--cancel);
}
button {
    background: var(--bg);
    color: var(--text);
    padding: 0 calc(var(--height) / 2.8 );
    height: var(--height);
    --cancel: #4e639e44;
}

.prompt-tip {
    background: #0009;
    backdrop-filter: blur(6px);
    padding: 30px 200px;
    font-size: 1.4rem;
    color: white;
    position: fixed;
    z-index: 1000;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: prompt-out var(--duration, 1.5s) forwards;
}

.choose-image-box {
    display: grid;
    grid-template-areas:
        "icon input"
        "icon submit";
    grid-template-columns: 160px 1fr;
    grid-template-rows: 80px 80px;
    width: 800px;
    /* padding-top: 20px; */
    column-gap: 20px;
    padding: 20px;
}
.choose-image-box > img {
    grid-area: icon;
    width: 100%;
    filter: invert(1);
    border: dashed 1px #777;
    object-fit: cover;
    height: 100%;
    cursor: pointer;
}
.choose-image-box > img.selected {
    filter: none;
}
.choose-image-box > input-box {
    grid-area: input;
    --width: 100%;
    transform: translateY(10px);
    margin: 0;
}
.choose-image-box > div {
    grid-area: submit;
}