<!DOCTYPE html>
<html>
<body>
  <h1>Wellcome test-backend</h1>
  <h2>Sign Up</h2>

  <form action="/account/signup<%= querystring %>" method="post">
    Email <input id="email" name="email" /><br />
    Name <input id="name" name="name" /><br />
    Password <input id="password" name="password" type="password"><br />
    <button>submit</button>
  </form>
</body>
</html>
