.wired-pos-abs {
    position: absolute;
    top: 460px;
}

.wired-pos-rel {
    position: relative;
    margin-bottom: 15px;
}

.wired-msg-pos-abs {
    position: absolute;
}

.wired-form {
    top: 420px;
}

.wired_profile { 
    background-color: #cccc89;
    padding: 10px;
    margin: 10px;
    visibility: hidden;
    top: 20px;
}

.wired_table {
    margin-top: 20px;
    height: 400px;
    max-height: 450px;
    overflow-y: auto;
}

.wired-errors {
    margin-top:-50px;
    font-family: "Comic Sans Serif", Arial, Verdana;
    font-style: bold;
    font-size: 16px;
    font-weight: bold;
    color: #ff2222;
}

.wired-errors li {
    overflow: wrap;
}

.group: {
    display: inline-block;
}

nav{
    background: #ff5353;
    padding: 20px 10px;
}

nav ul{
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}

nav a{
    color: #fff;
    font-size: 18px;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
    padding: 10px;
    display: block;
}
.edit-btn {
    background: url('/images/edit.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.delete-btn {
    background: url('/images/delete.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.message {
    font-family: "Comic Sans Serif", Arial, Verdana;
    font-style: bold;
    font-size: 16px;
    font-weight: bold;
    color: #4432ff;
}

.fade-out {
  animation: fadeOut ease 15s;
  -webkit-animation: fadeOut ease 15s;
  -moz-animation: fadeOut ease 15s;
  -o-animation: fadeOut ease 15s;
  -ms-animation: fadeOut ease 15s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
